<div class="card search">
    <h1 class="search-headline">Directory</h1>
    <label class="search-label">search
        <span *ngIf="query" [innerHTML]="' for: ' + query"></span>
    </label>
    <input class="search-input"
           [(ngModel)]="query"
           placeholder="type in search team here"
    />
</div>
<ul class="artistlist cf">
    <li class="artistlist-item cf"
        *ngFor="let item of artists">
        <img src="images/{{ item.shortname }}_tn.jpg"
             alt="{{ item.name }} photo"
             class="artist-img">
        <div class="artist-info">
            <h2 class="artist-name">{{ item.name }}</h2>
            <h3 class="artist-reknown">{{ item.reknown }}</h3>
        </div>
    </li>
</ul>
<!--card search-->